.footer {
  display: flex;
  min-height: 100px;
  width: 100%;

  .foot {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-media {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;

      a {
        color: color("second");
        line-height: 50px;
        font-size: 1rem;
        i {
          span {
            color: color("primary");
            font-weight: bold;
          }
        }
      }
      a :hover {
        color: color("second");
        transition: all 0.5s ease-out;
        text-decoration: none;
      }
    }

    .footer-nav {
      flex-direction: column;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      text-transform: uppercase;

      a {
        display: block;
        color: color("primary");
        line-height: 50px;
        font-weight: bold;
        font-size: 0.8rem;
      }

      a:hover {
        color: color("second");
      }
    }
  }
}

.footer-end {
  background-color: color("primary-alpha");
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 1rem 0;

  .footer-end-container {
    padding: 0 1rem;
    margin: 0 auto;
    @include flexible(flex, column, center, center);

    .slogan {
      p {
        @extend .section-title;
        border-bottom: none;
        font-size: 1.2rem;
        height: 100;
        color: color("wth");
      }
    }
    .footer-logo-end {
      a {
        display: flex;
        align-items: center;
        color: color("wth");
        letter-spacing: 2px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        img {
          width: 3rem;
          height: 3rem;
          padding-right: 5px;
        }
      }
    }
    .copy {
      color: color("sun-title");
      border-top: thin solid color("wth");
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .foot {
      flex-direction: column;
      .social-media {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        a {
          font-size: 2rem;
        }
      }
      .footer-nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        a {
          font-size: 1.2em;
        }

        a:hover {
          color: color("second");
        }
      }
    }
  }

  .footer-end {
    .footer-end-container {
      padding: 2rem 1rem;
    }
  }

  @media (min-width: 1024px) {
    .footer {
      padding-bottom: 0;
      padding-top: 4rem;

      .foot {
        padding-top: 4rem;
      }
    }

    .footer-end {
      min-height: 350px;
      padding-top: 75px;
      .footer-end-container {
        max-width: 900px;
        width: 100%;
        padding: 2rem 4rem;

        .slogan {
          p {
            font-size: 1.5rem;
            color: color("wth");
          }
        }

        .footer-logo-end {
          display: initial;
        }
      }
    }
  }
}
